.containerUpload
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;
}

.upload
{
	position: relative;

	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: center;

	width: 100%;
	min-height: 200px;
	padding: 55px;

	border: 2px white dashed;
	background-color: transparent;
}

.uploaded
{
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;

	display: none;

	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0, 08);
}

.uploaded > p
{
	font-size: 32px;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
}

.upload__button
{
	font-size: 16px;
	font-weight: bold;

	margin-top: 25px;
	padding: 15px 25px;

	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
	text-align: center;

	color: #FFFFFF;
	border: 0;
	background-color: #1BB76E;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.upload__button.disabled
{
	cursor: default;
	opacity: 0.5;
}

.upload__button:not(.disabled):hover
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dropzone .dz-preview.dz-image-preview
{
	background: transparent;
}